<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="worldontheotherside.wordpress.com.drvingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="HomeActivity">
         <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".SignUpNewTraineeActivity"
            android:label="SignUpNewTraineeActivity">

           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".SignUpPrevTraineeActivity"
            android:label="SignUpPrevTraineeActivity">

           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUpTrainerActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".LogoActivity"
            android:label="LogoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--<activity
            android:name=".TrainerViewActivity"
            android:label="TrainerProfileActivity">
&lt;!&ndash;

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>&ndash;&gt;

        </activity>-->
        <activity android:name=".EditingTrainerProfileActivity" />
        <activity android:name=".TrainerProfileActivity"
            android:label="TrainerProfileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".Fragments.TrainerProfileFragment"></activity>-->

        <activity android:name=".TrainersActivity">

        </activity>
    </application>

</manifest>